<head>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
	
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<link rel="stylesheet">
</head>
<div class="navigation-wrap bg-light start-header start-style">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" routerLink=""><img src="https://assets.codepen.io/1462889/fcy.png"
							alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto py-4 py-md-0">
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
									aria-haspopup="true" aria-expanded="false">Home</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<a class="dropdown-item" href="#">Another action</a>
								</div>
							</li>
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								<a class="nav-link" href="#">Portfolio</a>
							</li>
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								<a class="nav-link" href="#">Agency</a>
							</li>
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
									aria-haspopup="true" aria-expanded="false">Services</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
									<a class="dropdown-item" href="#">Another action</a>
								</div>
							</li>
							<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								<a class="nav-link" href="#">About</a>
							</li>
							<!-- <div class="container">
								<input type="text" (keyup)="onSearch($event)" placeholder="Search...">
								<div class="search"></div>
							</div> -->

							<div class="sample four">
								<input type="text" name="search" placeholder="search"  (keyup)="onSearch($event)">
								<button type="submit" class="btn btn-search">
									<i class="fa fa-search fa-flip-horizontal"></i>
								</button>
								<button type="reset" class="btn btn-reset fa fa-times"></button>
							</div>
							<li class="nav-bar"> <span *ngIf="isLoggedIn">Welcome, {{ authService.getUser()?.Username
									}}</span></li>

						</ul>
					</div>

				</nav>
			</div>
		</div>
	</div>
</div>